        .card {
            width: 22%;
            height: 380px;
            border: 1px solid black;
            margin: auto;
            border-radius: 10px;
            overflow: hidden;
            img {
                width: 100%;
                height: 190px;
            }
            &Body {
                text-align: center;
                padding-top: 10px;
                margin: 20px auto;
                font-size: 20px;
                p {
                    margin: 10px;
                }
                h4 {
                    margin-bottom: 15px;
                }
                a {
                    color: red;
                }
                .heart {
                    margin-top: 15px;
                    color: gray;
                    font-size: 26px;
                    transition: 0.3s;
                }
                .heart:hover {
                    color: red;
                    font-size: 32px;
                }
            }
        }